@model ItCareer.Models.Colour

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<div>
    <h4>Colour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form method="post" asp-action="DeleteAColour" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="ShowAllColours">Back to List</a>
    </form>
</div>
