@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />
    <br />
    <h1><a asp-controller="Shop" asp-action="ShowAllDogs">Shop</a></h1>
    <h1><a asp-controller="Breed" asp-action="ShowAllBreeds">Breeds</a></h1>
    <h1><a asp-controller="Colour" asp-action="ShowAllColours">Colours</a></h1>
</div>
