@model ItCareer.Models.Dog

@{
    Layout = "_Layout";
}
<form method="post" asp-action="CreateADog">
    <h5>Enter name:</h5>
    <input asp-for="Name"/>
    <h5>Enter breed:</h5>
    <input asp-for="Breed"/>
    <h5>Enter age:</h5>
    <input asp-for="Age"/>
    
    <input class="btn btn-outline-primary" type="submit" value="Create"/>
</form>
