@model ItCareer.Models.Dog

@{
    Layout = "_Layout";
    int id = Model.Id;
}

<form method="post" asp-action="DeleteADog" asp-route-id="@id">
    <h5>Name:</h5>
    <input asp-for="Name" value="@Model.Name" readonly="readonly">
    <h5>Breed:</h5>
    <input asp-for="Breed" value="@Model.Breed" readonly="readonly">
    <h5>Age:</h5>
    <input asp-for="Age" value="@Model.Age" readonly="readonly">
    
    <input class="btn btn-outline-primary" type="submit" value="DELETE"/>
</form>